<h1>New Guardian</h1>
<%= form_for :article, url: articles_path do |f| %>
  <p>
      <%= f.label :gamertag %><br>
      <%= f.text_field :gamertag %>
  </p>

  <p>
      <%= f.label :psnid %><br>
      <%= f.text_field :psnid %>
  </p>

  <p>
      <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
