<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :DisplayName %>
    <%= form.text_field :DisplayName, id: :player_DisplayName %>
  </div>

  <div class="field">
    <%= form.label :MemberId %>
    <%= form.text_field :MemberId, id: :player_MemberId %>
  </div>

  <div class="field">
    <%= form.label :Membertype %>
    <%= form.text_field :Membertype, id: :player_Membertype %>
  </div>

  <div class="field">
    <%= form.label :CharacterId %>
    <%= form.text_field :CharacterId, id: :player_CharacterId %>
  </div>

  <div class="field">
    <%= form.label :Playertype %>
    <%= form.text_area :Playertype, id: :player_Playertype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
